<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TACTISOFT embedded</title>
    <link rel="stylesheet" href="/assets/css/app.css">
</head>
<body class="dark">
<div class="flex flex-col min-h-screen">
    <div class="h-20 w-full bg-red-500">
        <button type="button" class="absolute t-0 l-0 flex justify-center items-center focus:outline-none text-white bg-red-700 hover:bg-red-800 font-medium text-sm h-20 w-20" onclick="kill()">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 h-10">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25"/>
            </svg>
        </button>
        <div class="flex justify-center h-full flex-wrap content-center">
            <h1 class="text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl select-none">Tactisoft Embedded - {{ title }}</h1>
        </div>
    </div>
    {{ content | safe }}
</div>
<script>
    function kill() {
        fetch('http://localhost:5000/api/kill', {
            method: 'POST'
        }).then(value => value.json()).then(value => {
            if (value.status === "ok") {
                location.href = '/embedded/home'
            } else {
                alert('Error killing running program')
            }
        });
    }
</script>
</body>
</html>